<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>950985182654-54n4h3h28ubn9ir8ne41emdst86pg178.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950985182654-54n4h3h28ubn9ir8ne41emdst86pg178</string>
	<key>API_KEY</key>
	<string>AIzaSyBKNe4Y9wMYLSq1B9iYKIbQKqiDDbx_-sA</string>
	<key>GCM_SENDER_ID</key>
	<string>950985182654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aplus.Twitter</string>
	<key>PROJECT_ID</key>
	<string>twitter-aa240</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-aa240.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950985182654:ios:6a8a5ffdc891261a</string>
	<key>DATABASE_URL</key>
	<string>https://twitter-aa240.firebaseio.com</string>
</dict>
</plist>